body {
    display: flex;
    background-image: url(/photos/teste0.png);
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #333;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

main {
    width: 50%;
    height: 50%;
    padding: 5rem;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin: 0;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25%;
    animation: glitch-anim1 10s linear infinite;

}

span {
    font-size: 10rem;
    animation: flaw 10s alternate infinite;
}


p {
    width: 50%;
    height: 25%;
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
    text-align: end;
    position: relative;
    top: 25%;
    left: 20%;
    animation: glitch-anim2 10s linear infinite;
}


@keyframes glitch-anim1 {
    0% {
        text-shadow: -2px 0 red;
        translate: 2px 0;
    }

    50% {
        text-shadow: 2px 0 blue;
        translate: -2px 0px;
    }

    100% {
        text-shadow: -2px 0 magenta;
        translate: 0 2px;
    }
}

@keyframes glitch-anim2 {
    0% {
        text-shadow: -2px 0 magenta;
        translate: 0 2px;
    }

    50% {
        text-shadow: 2px 0 blue;
        translate: 0px -2px;
    }

    100% {
        text-shadow: -2px 0 red;
        translate: 2px 0;
    }

}