html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: url(/photos/teste0.png);
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #333;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Static {
    0% {
        transform: translateY(0), translateX(10);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

main {
    padding: 10rem;
    background-color: rgb(255, 255, 255);
    animation: fadeIn 2s ease-in-out, Static 0.5s ease-in-out infinite;
}

h1 {
    margin: 0;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

span {
    font-size: 10rem;
}

p {
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
    text-align: end;
}